#user-footer-inner {
    background-color: #2c3e50 !important;
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

div.queet-box.queet-box-syntax {
    background-color: #34495e !important;
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

input.queet-box {
    background-color: #34495e !important;
    text-shadow: none !important;
}

#feed-header-inner {
    background-color: #2c3e50 !important;
    text-shadow: none !important;
    color: #ecf0f1 !important;
}

div.queet-content {
    background-color: #2c3e50 !important;
    text-shadow: none !important;
}

div.queet.last-visible.first-visible {
    background-color: #2c3e50 !important;
    text-shadow: none !important;
}

div.inline-reply-queetbox {
    background-color: #2c3e50 !important;
    text-shadow: none !important;
}

div.queet {
    background-color: #2c3e50 !important;
    text-shadow: none !important;
    color: #ecf0f1 !important;
}

strong.name {
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

span.icon.sm-ellipsis {
    border-color: #ecf0f1 !important;
}

a.with-icn {
    border-color: #ecf0f1 !important;
    color: #ecf0f1 !important;
}

span.icon.sm-fav {
    color: #ecf0f1 !important;
}

div.queet-text {
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

#stream-header {
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

#stream-menu-cog {
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

div.profile-banner-footer {
    color: #ecf0f1 !important;
    background-color: #2c3e50 !important;
    text-transform: none !important;
    text-decoration: none !important;
    text-shadow: none !important;
}

div.menu-container {
    background-color: #2c3e50 !important;
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

a.stream-selection {
    color: #ecf0f1 !important;
    background-color: #2c3e50 !important;
    text-shadow: none !important;
}

#user-groups {
    background-color: #2c3e50 !important;
    color: #ecf0f1 !important;
}

div.profile-card.pinned-post-cont h4 {
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

#user-body {
    background-color: #2c3e50 !important;
    border-style: none !important;
    text-shadow: none !important;
    color: #ecf0f1 !important;
}

div.global-nav.show-logo {
    background-color: #2c3e50 !important;
    color: #ecf0f1 !important;
}

input.search-input {
    color: #ecf0f1 !important;
    background-color: #34495e !important;
}

div.modal-header.ui-draggable-handle {
    background-color: #34495e !important;
    text-transform: none !important;
    border-style: none !important;
}

h3.modal-title {
    background-color: #34495e !important;
    text-shadow: none !important;
}

span.queet-counter {
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

div.modal-draggable.ui-draggable {
    border-style: none !important;
}

span.label {
    text-shadow: none !important;
}

#user-following strong {
    text-shadow: none !important;
}

#user-followers strong {
    text-shadow: none !important;
}

#user-queets strong {
    text-shadow: none !important;
}

a.row-type-function {
    background-color: #2c3e50 !important;
    color: #ecf0f1 !important;
}

a.row-type-link {
    color: #ecf0f1 !important;
}

#top-menu-profile-link-view-profile {
    color: #ecf0f1 !important;
}

ul.quitter-settings.dropdown-menu {
    color: #ecf0f1 !important;
}

ul.dropdown-menu {
    background-color: #2c3e50 !important;
    color: #ecf0f1 !important;
}

ul.quitter-settings.dropdown-menu.dropped {
    color: #ecf0f1 !important;
}

li.fullwidth a {
    color: #ecf0f1 !important;
}

a.language-link {
    color: #ecf0f1 !important;
}

#top-menu-profile-link-fullname {
    color: #ecf0f1 !important;
}

div.reload-stream {
    color: #ecf0f1 !important;
}

div.view-more-container-top.first-visible a {
    color: #ecf0f1 !important;
    background-color: #2c3e50 !important;
}

ul.queet-actions {
    color: #ecf0f1 !important;
}

#follow-group button {
    text-transform: none !important;
}

a.dropdown-toggle small {
    color: #ecf0f1 !important;
}

#login-content {
    background-color: #2c3e50 !important;
    color: #ecf0f1 !important;
}

#form_settings {
    color: #ecf0f1 !important;
    background-color: #2c3e50 !important;
}

.login-content {
    background-color: #2c3e50 !important;
}

span.current-language {
    color: #ecf0f1 !important;
}

div.modal-content {
    background-color: #2c3e50 !important;
}

#signup-terms-header {
    color: #ecf0f1 !important;
}

div.front-signup {
    color: #ecf0f1 !important;
}

button.signup-btn.disabled {
    color: #ecf0f1 !important;
    text-shadow: none !important;
}

a.oembed-item {
    background-color: #34495e !important;
    color: #ecf0f1 !important;
}
div.stream-item-header {
    color: #ecf0f1 !important;
}
#unseen-notifications {
    background-color: #7f8c8d !important;
    color: #2c3e50 !important;
}